select.btn-default, input.form-control {
	color: white;
	background: rgba(0,0,0,0.4);
}

.action_div{
	width: 300px;
	text-align: center;
	margin: auto;
}

h1,h2,h3,h5{
	text-align: center;
	margin:40px auto;
}