 body{
    padding: 0;
    background:rgba(0,0,0,0.8);
    padding-top: 70px;
    color: white;
  }
  body div.container{
    overflow: auto;
    /*width: 100%;*/
    height: auto;
    min-height: 500px;
  }

  body div.container .alert{
  	width: 400px;
  	margin: auto;
  	margin-bottom: 20px;
  }


/*
 *  STYLE 4
 */

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color:rgba(0,0,0,0.1);
}

::-webkit-scrollbar
{
  width: 10px;
  /*background-color: #F5F5F5;*/
  background-color:rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb
{
  background-color: rgba(0,0,0,0.6);
  /*border: 2px solid #555555;*/
}

body li a span.badge-warning{
  color:rgba(255,0,0,0.6);
}


.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}

.navbar-brand {
  background: url(../img/dragon_logo_1.png) center / contain no-repeat;
  transform: rotateY(180deg);
  width: 80px;
}


.dropdown-menu li a{
  border-left: solid 0px;
  transition: border 0.3s;
}

.dropdown-menu li a:hover{
  border-left: solid 3px rgba(255,0,0,0.6);
}



body h1 span.level-title{
  background: rgba(255,250,221,0.6);
  padding:0 10px;
  border-radius: 3px;
}

body h1 span.level-easy{
  color:rgba(0,0,0,0.7);
}

body h1 span.level-medium{
  color:rgba(100,0,200,0.7);
}

body h1 span.level-hard{
  color:rgba(150,0,100,0.7);
}

body h1 span.level-super-hard{
  color:rgba(190,0,50,0.7);
}

body h1 span.level-extremely-hard{
  color:rgba(230,0,10,0.7);
}

body h1 span.level-impossible{
  color:rgba(255,0,0,0.9);
}



div.progress{
  width: 400px;
  margin: auto;
}

@keyframes level1{ from { width: 0; } to { width: 20%; } }
@keyframes level2{ from { width: 0; } to { width: 40%; } }
@keyframes level3{ from { width: 0; } to { width: 60%; } }
@keyframes level4{ from { width: 0; } to { width: 80%; } }
@keyframes level5{ from { width: 0; } to { width: 90%; } }
@keyframes level6{ from { width: 0; } to { width: 100%; } }


