.login_panel{
  width: 400px;
  margin:auto;
  background:rgba(0,0,0,0.4);
  overflow: hidden;
}
.login_panel >.panel-heading{
  background:rgba(0,0,0,0.5);
  color: white;

}
.login_logo_container{
  width: 100%;
  height: auto;
  text-align: center;
}
.login_logo_container > img {
  width:100%;
}

h1,h2,h3,h5{
  text-align: center;
  margin:40px auto;
}

 
body div.thumbnail .loading{
  color: black;
}


 
body div.alert img.avatar{
  width: 100%;
  height: auto;
  min-height: 100px;
  max-height: 400px;
}

 

body div.form-group>div.captcha{
  width: 100%;
  text-align: center;
}