h1,h2,h3,h5{
	text-align: center;
	margin:40px auto;
}

body div.container pre{
	 white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

body div.thumbnail .loading{
	color: black;
}


body img.tumb_img {
	display: none;
}

body h1 span.level-title{
	background: rgba(255,250,221,0.6);
	padding:0 10px;
	border-radius: 3px;
}

body h1 span.level-easy{
	color:rgba(0,0,0,0.7);
}

body h1 span.level-medium{
	color:rgba(100,0,200,0.7);
}

body h1 span.level-hard{
	color:rgba(200,0,0,0.7);
}



body h1 span.level-super-hard{
	color:rgba(250,0,0,0.7);
}

body div.main_container pre img{
	margin: auto;
}



@-webkit-keyframes loadingCards {
  from {
		opacity: 0;
		transform: rotateX(90deg);
	}
	to{
		opacity: 1.0;
		transform: rotateX(0deg);
	}
}
@-moz-keyframes loadingCards {
  from {
		opacity: 0;
		transform: rotateX(90deg);
	}
	to{
		opacity: 1.0;
		transform: rotateX(0deg);
	}
}
@-o-keyframes loadingCards {
  from {
		opacity: 0;
		transform: rotateX(90deg);
	}
	to{
		opacity: 1.0;
		transform: rotateX(0deg);
	}
}
@keyframes loadingCards {
  from {
		opacity: 0;
		transform: rotateX(90deg);
	}
	to{
		opacity: 1.0;
		transform: rotateX(0deg);
	}
}




body div.row{
	-webkit-animation: loadingCards 2s;
	-moz-animation:    loadingCards 2s;
	-o-animation:      loadingCards 2s;
	animation:         loadingCards 2s;
	/*transition: opacity,height 1.5s;*/
}
 
